@use '../../styles/tokens/typography' as *;

.numeric-stepper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--nds-spacing-xs);
  width: fit-content;
  & p {
    @include text-xl;
    margin: 0;
    
  }
}