---
export interface Props {
  disabled?: boolean;
}

const { disabled } = Astro.props;

const classes = [
  'pagination-number',
  disabled ? 'pagination-number__disabled' : ''
].filter(Boolean).join(' ');
---

<div class={classes}>
  <slot/>
</div>

<style lang="scss">
@use './paginationNumber';
</style>