---
export interface Props {
  type?: "primary" | "neutral" | "success" | "warning" | "error" | "info";
  variant?: "soft" | "solid";
}
const { type = "primary", variant = "soft" } = Astro.props;
---

<span class={`badge badge__${type} badge--${variant}`}>
  <slot />
</span>

<style lang="scss">
  @use "./_badge.scss";
</style>
