@use '../../styles/tokens/typography' as *;

.tab {
    display: flex;
    align-items: flex-start;
    gap: var(--nds-spacing-xs);
    justify-content: center;
    width: fit-content;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        cursor: pointer;
        padding: var(--nds-spacing-2xs);
        @include text-base;

        &--active {
            color: var(--nds-primary);

            &::after {
                content: '';
                display: block;
                width: 120%;
                height: 1px;
                background-color: var(--nds-primary);
                border-radius: var(--nds-radius-sm);
            }
        }
    }
}