@mixin _light {
  --nds-text: #050A0A;
  --nds-neutral: #7C8282;
  --nds-disabled: #C2D4D4;
  --nds-background: #F4FBFB;
  --nds-primary: #43C9D0;
  --nds-secondary: #71EAEA;
  --nds-accent: #05D1D1;
  
  --nds-success-high:   #3B6D11;
  --nds-success-medium: #639922;
  --nds-success-low:    #EAF3DE;

  --nds-error-high:   #A32D2D;
  --nds-error-medium: #E24B4A;
  --nds-error-low:    #FCEBEB;

  --nds-warning-high:   #854F0B;
  --nds-warning-medium: #BA7517;
  --nds-warning-low:    #FAEEDA;

  --nds-info-high:   #185FA5;
  --nds-info-medium: #378ADD;
  --nds-info-low:    #E6F1FB;

}

@mixin _dark {
  
  --nds-text: #F5FAFA;
  --nds-neutral: #5A7878;
  --nds-disabled: #7C8282;
  --nds-background: #040B0B;
  --nds-primary: #2FB5BC;
  --nds-secondary: #288181;
  --nds-accent: #2EFAFA;

  --nds-success-high:   #97C459;
  --nds-success-medium: #97C459;
  --nds-success-low:    #173404;

  --nds-error-high:   #F09595;
  --nds-error-medium: #A32D2D;
  --nds-error-low:    #501313;

  --nds-warning-high:   #EF9F27;
  --nds-warning-medium: #EF9F27;
  --nds-warning-low:    #412402;

  --nds-info-high:   #85B7EB;
  --nds-info-medium: #85B7EB;
  --nds-info-low:    #042C53;

}

:root,
[data-theme="light"] {
  @include _light;
}

[data-theme="dark"] {
  @include _dark;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    @include _dark;
  }
}
