---
export interface Props {
  title?: string;
  subtitle?: string;
  cover?: string;
}
const { title, subtitle, cover } = Astro.props;
const hasFooter = Astro.slots.has("footer");
---

<div class="card">
  {
    cover && (
      <div class="card__cover" style={`background-image: url(${cover})`} />
    )
  }
  <div class="card__body">
    {title && <p class="card__title">{title}</p>}
    {subtitle && <p class="card__subtitle">{subtitle}</p>}
    <div class="card__content"><slot /></div>
    {
      hasFooter && (
        <div class="card__footer">
          <slot name="footer" />
        </div>
      )
    }
  </div>
</div>

<style lang="scss">
  @use "./_card.scss";
</style>
