@use "../../styles/tokens/typography" as *;

.loading-bar {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: var(--nds-surface-2);
  overflow: hidden;
  border-radius: var(--nds-radius-full);
  &__progress {
    height: 100%;
    background-color: var(--nds-primary);
    border-radius: var(--nds-radius-full);
    transition: width 0.35s ease;
  }
  &__unknown {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: var(--nds-primary);
    border-radius: var(--nds-radius-full);
    animation: nds-lb 1.3s ease-in-out infinite;
  }
}
@keyframes nds-lb {
  0% {
    left: -40%;
  }
  100% {
    left: 100%;
  }
}
