@use '../../styles/tokens/typography' as *;

.loading-bar {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: var(--nds-text);
  overflow: hidden;
  border-radius: var(--nds-radius-sm);

  &__progress {
    height: 100%;
    background-color: var(--nds-primary);
    transition: width 0.3s ease;
    border-radius: var(--nds-radius-sm);
  }

  &__unknown {
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: var(--nds-primary);
    border-radius: var(--nds-radius-sm);
    animation: loadingBarIndeterminate 1.5s infinite;
  }

  @keyframes loadingBarIndeterminate {
    from {
      left: -50%;
    }
    to {
      left: 100%;
    }
  }
}