---
import '../styles/index.scss';
import { inject } from '@vercel/analytics';
interface Props { title?: string; }
const { title = 'Nova Design System' } = Astro.props;
inject();
---
<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
